$border-width: 1px;
$border-style: solid;
$border-color: #ccc;
$border-color-hover: #4faad0;
$border-radius: 4px;
$color-bkg: #fff;
$color-text: #fff;
$ele-margin-bottom: 20px;
$hover-bkg-color: #64c6ef;
$weight-font: 600;

@mixin transform($time) {
  -webkit-transform: scale($time);
  -moz-transform: scale($time);
  -ms-transform: scale($time);
  -o-transform: scale($time);
  transform: scale($time);
}

@mixin transition-input-search($el, $ms) {
  -webkit-transition: $el $ms;
  -moz-transition: $el $ms;
  -ms-transition: $el $ms;
  -o-transition: $el $ms;
  transition: $el $ms;
}

@mixin transition($what, $ms, $state) {
  -webkit-transition: $what $ms $state;
  -moz-transition: $what $ms $state;
  -ms-transition: $what $ms $state;
  -o-transition: $what $ms $state;
  transition: $what $ms $state;
}

@mixin box-shadow($hO, $vO, $blur, $color) {
  -webkit-box-shadow: $hO $vO $blur $color;
  -moz-box-shadow: $hO $vO $blur $color;
  -ms-box-shadow: $hO $vO $blur $color;
  -o-box-shadow: $hO $vO $blur $color;
  box-shadow: $hO $vO $blur $color;
}

// Rest =======================
* {
  box-sizing: border-box
}

html {
  overflow-y: scroll;

  &:focus {
    border-color: none !important;
  }
}

// BASE styling ===============
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

// Common styling ====================
h5 {
font-family: "Segoe UI",Arial,sans-serif;
font-size: 18px;

  .weight-font {
    font-weight: $weight-font;
  }
}

// App-Header ========================
#app__header {
  height: auto;

  .app__header--logo {
    a {
      width: 205px;
      height: 95px;
      display: block;
      background-image: url(../imgs/etl.png);
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 20px;
    }
  }
}

.app__main {
  height: 900px;

  .app__main--title {
    height: 40px;

    h1 {
      font-family: "Segoe UI",Arial,sans-serif;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
    }

    div {
      #icon--search {
        margin-top: 2px;
        margin-left: -11px;
        height: 38px;

        #search {
          input[type=search] {
            border: $border-width $border-style $border-color;
            padding: 7px 20px;
            border-radius: $border-radius;
            @include transition-input-search(all, 0.5s);
            width: 30px;
            cursor: pointer;

            &:hover {
              background-color: $hover-bkg-color;
              color: $color-text;
            }

            &:focus {
              width: inherit;
              color: #000;
              cursor: auto;
              background-color: #fff;
              padding-left: 32px;
              @include box-shadow(0, 0, 15px, #cecece);
            }

            + span {
              position: absolute;
              top: 0;
              left: 0;
              padding-top: 7px;
              padding-left: 13px;
              cursor: pointer;
            }
          }
        }
        .icon--position {
          position: absolute;
        }
      }
    }
  }
}

// App-Footer ========================
footer {
  div {
    p {
      text-align: center;
    }
  }
}

// Dropdown Pane: ====================
.app__main--dropdown {
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
  text-align: left;
  z-index: 10;
  padding: 10px;
  margin-bottom: $ele-margin-bottom;

  #dropdown-icon-check {
    margin: 9px 52px;
    padding: 12px 11px;
    border: $border-width $border-style $border-color;
    border-radius: $border-radius;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 39px;
    height: 39px;

    &:hover {
      background-color: $hover-bkg-color;
      color: $color-text;
    }
  }

  .dropdown-icons {
    border: $border-width $border-style $border-color;
    border-radius: $border-radius;
    padding: 9px 12px;
    margin-top: 9px;
    margin-right: 9px;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 39px;
    height: 39px;

    &:hover {
      background-color: $hover-bkg-color;
      color: $color-text;
    }
  }

  .dropdown-list-header {
    .dropdown-list-border {
      margin: 10px 0px;
    }

    .dropdown-list-grp {
      display: none;

      form {
        .dropdown-each-item {
          padding: 2px;
          border-radius: $border-radius;
          margin-bottom: 5px;
          font-size: 13px;
          border: $border-width $border-style $border-color;

            input[type=checkbox] {
              margin: 9px 10px 7px 20px !important;
              @include transform(1.4);
            }
        }
      }
    }
  }
}

// Calendar Date Range Picker ==========
.app__main--calendar {
  padding-left: 0;
  margin-bottom: $ele-margin-bottom;
  
  // bs classes customised:
  .form-group {
    .input-group {
      .form-control {
        height: 36px;
      }

      .input-group-addon {
        background-color: $color-bkg;

        &:hover {
          background-color: $hover-bkg-color;
        }
      }
    }  
  }
}

// bs classes customized for Data Tabs - button-group:
.app__main--visualisor {
  margin-bottom: $ele-margin-bottom;
  padding-left: 0; 
  
&:after {
  content: '';
  display: block;
  clear: both;
}
  
  .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 3px;

    &:first-child { border-radius: 0.5em 0 0 0.5em; }

    &:last-child { border-radius: 0 0.5em 0.5em 0; }
  }
}

.btn-default {
  &:hover {
    background-color: $hover-bkg-color;
    border: $border-width $border-style $border-color-hover;

    &:focus {
      color: $color-text;
      background-color: #178ecd;
      border-color: #178ecd;
    }
  }
}

.btn-default.active {
  color: $color-text;
  background-color: #178ecd;
  border-color: #178ecd;

  &:active {
    color: $color-text;
    background-color: #178ecd;
    border-color: #178ecd;
  }

  &:focus {
    color: $color-text;
    background-color: #178ecd;
    border-color: #178ecd;
  }

  &:hover {
    background-color: $hover-bkg-color;
    border: $border-width $border-style $border-color-hover;
  }
}

// Main menu css selectors (Heatmap | Apps | Personnel | Reports):
#filters {
  button.active {
    color: $color-text;
    background-color: #178ecd;
    border-color: #178ecd;
  }
}

// Isotope buttons
.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $hover-bkg-color;
  }

  &:active {
    background-color: #178ecd;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  }
}

.is-checked {
  color: #fefefe;
  background-color: #178ecd;
}

// Visualisor ========================
.grid {
  #heat {
    #heat-chart {
      margin-left: -5%;
    }

    .datasets-picker {
      margin-top: 20px;

      input {
        margin-right: 7px;

        &:last-child { margin-right: 0px; }
      }
    }
  }
}
 // Visualisor Personnel Tab =========
.visualisor__personnel {
  margin-top: 40px !important;
  margin-bottom: $ele-margin-bottom;

  div {
    div {
      margin-right: 7px;

      + .personnel-mt {
          margin-top: -7px;
      }
    }
  }
}

// General styling for Visualisor Personnel tab =====
.app-border {
  margin: 10px 0px;
}

.app__header--h6 {
  margin: 0 auto;
  padding: 5px 18px;
  font-size: 16px;
}

.click-1a,
.click-1b,
.click-2a,
.click-2b,
.click-3a,
.click-3b,
.click-4a,
.click-4b {
  cursor: pointer;
}

.icons-personnel {
  padding: 5px;
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
  margin-bottom: 4px;
  width: 29px;
  height: 35px;
  
  .icon2 {
    cursor: pointer;
    color: #333;

    &:hover {
      + .pii-on-hover {
          opacity: 1.0;
          border-radius: 4px;
          border: $border-width $border-style $border-color;
          margin-left: 25px;
          margin-top: -103px;
          box-shadow: 2px 2px 11px #cecece;
      }
    }
  }
}

.info-1a-panel,
.info-1b-panel,
.info-2a-panel,
.info-2b-panel,
.info-3a-panel,
.info-3b-panel,
.info-4a-panel,
.info-4b-panel {
  width: 200px;
  height: auto;
  background-color: $color-bkg;
  border: $border-width $border-style $border-color;
  border-radius: $border-radius;
  margin-top: -26px;
  margin-left: 25px;
  position: relative;
  z-index: 10;
  display: none;
  user-select: none;
  box-shadow: 2px 2px 11px #cecece;

  p {
    font-size: 14px;
    font-family: inherit;
    text-align: left;
    padding: 10px;
  }
}

.info-1b-panel,
.info-2b-panel,
.info-3b-panel,
.info-4b-panel {
  margin-top: -65px;
}

.info-panel-heading {
  display: flex;
}

.pii-on-hover {
  width: 200px;
  height: auto;
  background-color: $color-bkg;
  opacity: 0.0;
  position: relative;
  z-index: 10;
  padding: 10px;
  @include transition(all, 500ms, ease-in);
}

.to-close-1a,
.to-close-1b,
.to-close-2a,
.to-close-2b,
.to-close-3a,
.to-close-3b,
.to-close-4a,
.to-close-4b {
  display: none;
  opacity: 0.80;
  float: right;
  margin-right: 1em;
}

// Isotope Element Items ===========
.element-item.report {
  display: inline-grid;

  button {
    margin-bottom: 5px;
    text-align: left;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

// Tool tips D3 ====================
.d3-tool-tips {
  background-color: #eee;
  border-radius: $border-radius;
  border: $border-width $border-style $border-color;
  padding: 10px;
  width: 200px;
  height: auto;
  z-index: 10;
}

.d3-tool-tips:after {
  box-sizing: border-box;
  font-size: 20px;
  width: 100%;
  content: "\25BC";
  position: absolute;
  text-align: center;
  color: #eee;
}

.d3-tool-tips.n:after {
  margin: -8px 0 0;
  top: 100%;
  left: 0;
}
