$border-width: 1px;
$border-style: solid;
$border-color: #CCC;
$main-fonts: tahoma, verdana;
$responsive-img-w: 100%;
$responsive-img-h: auto;

@mixin border-radius($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  -o-border-radius: $size;
}

@mixin transition($all, $time, $mode) {
  transition: $all, $time, $mode;
  -webkit-transition: $all, $time, $mode;
  -moz-transition: $all, $time, $mode;
  -ms-transition: $all, $time, $mode;
  -o-transition: $all, $time, $mode;
}

body {
  font-family: "tahoma, verdana";
  height: 100%;
}

button {
  border: 1px solid #ccc;
  @include border-radius(4px); 
}

.custom-h6 {
  margin: 0 auto;
  padding: 0px 18px;
}

.datasets-picker input {
  margin-right: 5px;
}

.dp-pad-left {
  padding-left: 0;
}

#et-data-board {
  &:hover {
    border: 0;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 2px #eee;
  }
}

.grp-personnel {
  margin-top: 40px !important;
}

.icons-personnel {
  padding: 5px;
  margin-bottom: 4px;
  width: 29px;
  height: 35px;
  @include border-radius(4px);
  border: $border-width $border-style $border-color;
}

img {
  max-width: $responsive-img-w;
  height: $responsive-img-h;
}

.info-panel{
	
}
